.slide-item1{
    background-image: url('../../data/images/banner/23.jpg');
    background-size:cover;
    background-position: center;
    animation: zoom 12s infinite;
}
.slide-item2{
    background-image: url('../../data/images/banner/36.jpg');
    background-size: cover;
    background-position: center;
    animation: zoom 12s infinite;
}
.slide-item3{
    background-image: url('../../data/images/banner/17.jpg');
    background-size: cover;
    background-position: center;
    animation: zoom 12s infinite;
}
.slide-item4{
    background-image: url('../../data/images/banner/26.jpg');
    background-size: cover;
    background-position: center;
    animation: zoom 12s infinite;
}
.slide-item5{
    background-image: url('../../data/images/banner/34.jpg');
    background-size: cover;
    background-position: center;
    animation: zoom 12s infinite;
}
.slide-boder{
    position: relative;
}
.title-wellcome{
    position: absolute;
    top:40%;
    width: 100%;
}
.slide-h1{
    font-size: 60px;
    position: relative;
    color: white;
    animation: toleft 2s forwards;
}
.slide-h2{
    font-size: 100px;
    position: relative;
    color: white;
    animation: toleft2 3s forwards;
}
@keyframes toleft{
    0%{
        left: 40%;
    }
    100%{
        left: 0%;
    }
}
@keyframes toleft2{
    0%{
        left: 40%;
    }
    50%{
        left: 40%;
    }
    100%{
        left: 0%;
    }
}

@keyframes zoom{
    0%{
        transform:none;
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform:none;
    }
}

@media screen and (max-width: 1120px) {
    .sli{
        height: 400px !important;
        line-height: 400px !important;
    }
    .slide-h1{
        font-size: 50px;
    }
    .slide-h2{
        font-size: 70px;
    }
}
@media only screen and  (max-width: 850px) {
    .sli{
        height: 200px !important;
        line-height: 200px !important;
    }
    .slide-h1{
        font-size: 20px;
    }
    .slide-h2{
        font-size: 30px;
    }
}