.simpletour-1 {
  height: auto;
  background-color: #fff1e100;
  width: 85%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin: 0 auto;
  border-radius: 6px;
  position: relative;
}

.simpletour-1 hr {
  width: 95%;
  margin: 8px;
  margin-left: 30px;
  left: 0;
  right: 0;
}

.top-container {
  display: flex;
  overflow: hidden;
}

.box-1 {
  width: 428px;
  height: 360px;
  overflow: hidden;
  margin: 24px 24px 0 12px;
}

.box-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  transition: 1s;
}

.box-img:hover {
  transform: scale(1.2);
}

.boxsub-1 {
  height: auto;
  width: 60%;
}

.tour-info {
  display: flex;
  align-items: center;
  padding: 3%;
  
}

.day-length {
  display: flex;
  align-items: center;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
}

.day-length span {
  font-size: 14px !important;
}

.icon-length {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-right: 8px;
}

.title-box {
  text-align: center;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 30px;
  padding: 3% 0 3% 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-box:hover {
  color: #d0b316;
  transition: 1s;
}

.title-highlight {
  text-align: left;
  padding: 0 3% 0 10%;
}

.highlight li {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #666666;
}

.read-more {
  display: flex;
  padding: 1% 0 2% 0;
}

.icon-show {
  width: 100%;
  padding: 0 0 0 12%;
  text-align: left;
  font-size: 20px;
  font-family: "Lobster";
}

.money {
  display: flex;
  align-items: center;
}

.money-icon {
  font-size: 28px;
}

.tour-price {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding-left: 12px;
}

.tour-price b {
  font-size: 18px;
}

.tour-journeys {
  display: flex;
  align-items: center;
}

.journeys-map {
  font-size: 24px;
  margin: 0 4px 0 3px ;
}

.journeys-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.journeys-list li {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 12px;
}

.journeys-list li:hover {
    color: #d0b316;
    cursor: pointer;
}

.button-show {
  width: 30%;
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px 12px 24px;
  /* margin: 0px 20px 0 20px; */
  font-family: "Montserrat", Arial, sans-serif;
}

.handpick {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

.handpick-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 50px;
}

.handpick-title {
  display: none;
  align-items: center;
  background-color: #d0b316;
  font-size: 12px;
  color: #fff;
  padding: 4px;
  border-radius: 5px;
  margin-top: -30px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.handpick-icon {
  height: 22px;
  width: 22px;
  margin-left: 20px;
  font-size: 20px;
}

.handpick-icon:hover {
  color: #d0b316;
  transition: 0.5s;
}

.handpick-list:hover .handpick-title {
  display: block;
  transition: 0.5s;
}

.tour-explore {
  display: flex;
  align-items: center;
  right: 0;
  margin-left: 5px;
}

.tour-explore:hover {
  color: #d0b316;
}

.tour-explore a {
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  padding: 8px 20px 8px 20px;
  margin-right: 2%;
  border: 1px solid #888888;
  border-radius: 25px;
}

.tour-explore a:hover {
  color: #d0b316;
  border: 1px solid #d0b316;
}

.tour-heart {
  font-size: 24px;
  color: #888888;
}

.tour-heart:hover {
  color: #d0b316;
}

@keyframes toleft {
  0% {
    left: 20%;
  }
  100% {
    left: 0%;
  }
}
@keyframes toright {
  0% {
    left: -20%;
  }
  100% {
    left: 0%;
  }
}
.rev {
  animation: toleft 5s forwards;
}
.norev {
  animation: toright 5s forwards;
}

@media screen and (max-width: 1120px) {
  .title-box{
    font-size: 25px;
  }
}
@media only screen and  (max-width: 850px) {
  .top-container{
    flex-direction: column !important;
  }
  .simpletour-1{
    width: 95% !important;
  }
  .box-1{
    width: 100%;
    height: 250px;
    margin: 0;
  }
  .boxsub-1{
    width: 100%;
  }
  .title-box{
    font-size: 20px;
  }
  .tour-explore a{
    font-size: 10px;
  }
  .handpick span{
    font-size: 12px;
  }
  .handpick-list{
    width: auto;
  }
}