.aboutus{
    margin-top: 5%;
    width: 100%;
    padding: 5% 20%;  
    background-color: rgb(170, 182, 208); 
}
.au-h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;   
}
.au-main{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.au-p{
    width: 90%;

}
.au-img{
    width: 30%;
    margin: auto auto;
}

