.aboutus{
    margin-top: 2%;
    width: 100%;
    padding: 5% 10%;  
}
.au-h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;   
}
.au-main{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.au-p{
    width: 90%;

}
.au-img{
    width: 100%;
}

@media only screen and  (max-width: 850px) {
    .au-p{
        font-size: 12px;
    }
}
