.hot-tour{
    margin-top: 3%;
}
.hot-grid{
    display: flex;
    flex-direction: column;

}
.hot-grid1{
    display: flex;
}
.hot-grid2{
    display: flex;
}
.hot-box{
    height: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-image: url('https://th.bing.com/th/id/OIP.2JxPqLrCfMsE5zSpN5CcTAHaEe?w=292&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
}
.hot-box img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.hot-box:hover img{
   transform: scale(1.04);
}
.hot-box:hover .main-hotbox{
    bottom: 0%;
}
.hot1{
    width: 58%;
    height: 400px;
}
.hot2{
    width: 42%;
    height: 400px;
}
.hot3,.hot4,.hot5{
    width: 29%;
    flex: 1;
    height: 300px;
}
.hot-container{
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.hot-title{
    text-align: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color:black;
    transition: 0.5s;
    position: relative;
    left:0%;
    animation: title forwards 2s;
}
.hot-main{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #666666;
    text-align: center;
}
.hr-hot{
    width: 25%;
    border:2px solid darkgoldenrod;
    color:darkgoldenrod !important;
    transition: 0.5s;
    text-align: center;
    margin: 0 auto;
}
.hot-title:hover{
    text-shadow: 5px 0px 5px rgb(0, 0, 0,0.5);
    color:darkgoldenrod;
}
.hot-title:hover .hr-hot{
    width: 60% ;
}
.title-before{
    color: white;
    position: absolute;
    bottom: 0%;
    padding:10px;
    background-color: rgb(4, 4, 4,0.7);
    width: 100%;
    margin-bottom: 0;
}
.main-hotbox{
    position: absolute;
    width: 100%;
    bottom: -100%;
    transition: 0.5s;
}
.title-after{
 text-align: center !important;
 width: 100%;
}
.main-hotbox {
   text-align: start;
   padding: 5% 10% 5% 10%;
   background-color: white;

}
@keyframes title {
    0%{
       left:20%;
    }
    100%{
        left:0%;
    }
}

@media screen and (max-width: 1120px) {
    .hot1,.hot2{
        height: 250px;
    }
    .hot3,.hot4,.hot5{
        height: 200px;
    }
}
@media only screen and  (max-width: 850px) {
    .hot-box{
        width: 100% !important;
        height: 300px;
        flex: auto;
    }
    .hot-grid1,.hot-grid2{
        flex-direction: column;
    }
    .hot-title{
        font-size: 25px;
    }
    .hot-main{
        font-size: 12px;
    }
}